@{
    Layout = "_Layout";

}

<div class="container body-content">
    <div class="row">
        <div class="container mt-100">
            <div class="panel panel-primary panel-style">
                <div class="panel-heading text-center">Greenfinch Newsletter</div>
                <div class="panel-body">
                    <div style="text-align: center">
                        <h1>Sign up our newsletter</h1>
                        <p class="lead">Come on in to receive our news... All you need to do is sign up!</p>
                        <div class="text-center">
                            <a class="btn btn-primary btn-lg mr-2" asp-area="" asp-controller="Newsletters" asp-action="Create">Sign up newsletter</a>
                            <button class="btn btn-info btn-lg">Learn more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    




